<div class="mat-display-4">This is dipslay 4</div>
<div class="mat-display-3">This is dipslay 3</div>
<div class="mat-display-2">This is dipslay 3</div>
<div class="mat-display-1">This is dipslay 1</div>

<div class="mat-headline">Headline</div>
<div class="mat-title">Title</div>
<div class="mat-subheading-2">Subheading 2</div>
<div class="mat-subheading-1">Subheading 1</div>

<div class="mat-body-1">Body 1</div>
<div class="mat-body-2">Body 2</div>
<div class="mat-caption">Caption</div>
<div class="mat-typography">
  <h1>H1</h1>
  <h2>H2</h2>
  <h3>H3</h3>
  <h4>H4</h4>
</div>
<button mat-button>Basic</button>
<button mat-flat-button>Flat</button>
<button mat-raised-button color="warn">Raised</button>
<button mat-stroked-button>Stroked</button>
<button mat-icon-button>Icon</button>
<button mat-fab>Fab</button>
<button mat-mini-fab>Mini fab</button>

<div>
  <mat-card>
    <button mat-button>All</button>
    <button mat-raised-button>Of</button>
    <button mat-raised-button color="primary">The</button>
    <button mat-raised-button color="accent">Buttons</button>
    <button mat-raised-button color="warn" disableRipple>Warn</button>
  </mat-card>

  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>
