
<div>
    <mat-tab-group #tabRef (selectedTabChange)="logChange(tabRef.selectedIndex)">
      <mat-tab label="Angular">Angular</mat-tab>
      <mat-tab label="React">React</mat-tab>
      <mat-tab label="Python">Python</mat-tab>
    </mat-tab-group>
    {{tabRef.selectedIndex}}
  </div>
<mat-horizontal-stepper>
  <mat-step label="Shipping Address">Shipping Address Details
    
  </mat-step>
  <mat-step label="Billing Address" optional>Billing Address Details
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
  </mat-step>
  <mat-step label="Place Order">Order Details</mat-step>
</mat-horizontal-stepper>
<mat-vertical-stepper>
    <mat-step label="Shipping Address">Shipping Address Details
      
    </mat-step>
    <mat-step label="Billing Address" optional>Billing Address Details
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step label="Place Order">Order Details</mat-step>
  </mat-vertical-stepper>
  <mat-form-field floatLabel="always" appearance="fill" color="primary">
    <mat-label>Name</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 Characters</mat-hint>
  </mat-form-field>
  <mat-form-field floatLabel="always" appearance="outline" color="primary">
      <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint align="end">Min 5 Characters</mat-hint>
    </mat-form-field>

<div>
  <h3>Strict stepwise stepper</h3>
<mat-horizontal-stepper>
    <mat-step label="Shipping Address" completed="false">Shipping Address Details
      
    </mat-step>
    <mat-step label="Billing Address" completed="false">Billing Address Details
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
    </mat-step>
    <mat-step label="Place Order">Order Details</mat-step>
  </mat-horizontal-stepper>
</div>

<div class="card">
  <div class="header">
    <h1>Profile Image</h1>
  </div>

  <div class="container">
    <p>January 1, 2019</p>
  </div>
  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>

<mat-card>
<mat-card-title>
  Card Title
</mat-card-title>
<mat-card-content>
   This is card content
</mat-card-content>
<mat-card-actions align="end">
  <button mat-stroked-button>Login</button>
</mat-card-actions>
</mat-card>


<div class="dummy">
  <!-- <div class="mat-display-4">This is dipslay 4</div>
  <div class="mat-display-3">This is dipslay 3</div>
  <div class="mat-display-2">This is dipslay 3</div>
  <div class="mat-display-1">This is dipslay 1</div>

  <div class="mat-headline">Headline</div>
  <div class="mat-title">Title</div>
  <div class="mat-subheading-2">Subheading 2</div>
  <div class="mat-subheading-1">Subheading 1</div>

  <div class="mat-body-1">Body 1</div>
  <div class="mat-body-2">Body 2</div>
  <div class="mat-caption">Caption</div>
  <div class="mat-typography">
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
  </div> -->
  <button mat-button>Basic</button>
  <button mat-flat-button>Flat</button>
  <button mat-raised-button color="warn">Raised</button>
  <button mat-stroked-button>Stroked</button>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini fab</button>

  <div>
    <mat-card>
      <button mat-button>All</button>
      <button mat-raised-button>Of</button>
      <button mat-raised-button color="primary">The</button>
      <button mat-raised-button color="accent">Buttons</button>
      <button mat-raised-button color="warn" disableRipple>Warn</button>
    </mat-card>
  </div>

  <div>
    <mat-button-toggle #toggleBtn>Toggle Button</mat-button-toggle>
    <p>State of button:{{ toggleBtn.checked }}</p>
    <mat-button-toggle #toggleBtnDisabled disabled
      >DisabledToggle Button</mat-button-toggle
    >
  </div>
  <div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
      <mat-button-toggle value="Angular">Angular</mat-button-toggle>
      <mat-button-toggle value="React">React</mat-button-toggle>
      <mat-button-toggle value="Python">Python</mat-button-toggle>
    </mat-button-toggle-group>
    <p>The Toggled value is:{{ toggleGroup.value }}</p>
  </div>
  <mat-icon color="primary">mood</mat-icon>
  <div>
    <span matBadge="6" matBadgeSize="small">Notifications 1</span>
    <span matBadge="6" matBadgeColor="accent">Notifications 2</span>
    <span matBadge="6" matBadgeSize="large" matBadgeColor="warn"
      >Notifications 3</span
    >
    <span matBadge="6" matBadgeSize="small" matBadgeOverlap="false"
      >Notifications 4</span
    >

    <span [matBadge]="notification">Notifications Property Binding</span>
    <span [matBadge]="notification" [matBadgeHidden]="notification === '1'"
      >Notifications hidden</span
    >
  </div>
  <div>
    <mat-progress-spinner value="40"></mat-progress-spinner>

    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <button (click)="loadData()">Start spinner</button>
  </div>
</div>

<div class="darkmode">
  <p>This is darkcontent</p>
</div>
<div>
  <mat-list dense>
    <mat-list-item>Item 1</mat-list-item>
    <mat-list-item>Item 2</mat-list-item>
  </mat-list>
  <mat-nav-list>
    <a mat-list-item href="#">Home</a>
    <a mat-list-item href="#">About</a>
  </mat-nav-list>
  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine>Heading One</h3>
      <p matLine>Line 1</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h3 matLine>Heading Two</h3>
        <p matLine>Line 2</p>
      </mat-list-item>
  </mat-list>
</div>
<div>
  <mat-grid-list cols="8" rowHeight="100px">
    <mat-grid-tile rowspan="2"> Tile 1</mat-grid-tile>
    <mat-grid-tile colspan="2"> Tile 2</mat-grid-tile>
    <mat-grid-tile> Tile 3</mat-grid-tile>
    <mat-grid-tile> Tile 4</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="8" rowHeight="100px">
      <mat-grid-tile> Tile 1</mat-grid-tile>
      <mat-grid-tile colspan="2"> Tile 2</mat-grid-tile>
      <mat-grid-tile> Tile 3</mat-grid-tile>
      <mat-grid-tile> Tile 4</mat-grid-tile>
    </mat-grid-list>
</div>
<div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile > Tile 1</mat-grid-tile>
        <mat-grid-tile > Tile 2</mat-grid-tile>
        <mat-grid-tile> Tile 3</mat-grid-tile>
        <mat-grid-tile> Tile 4</mat-grid-tile>
      </mat-grid-list>
      <!-- <mat-grid-list cols="2" rowHeight="fix" style="height: 200px">
          <mat-grid-tile > Tile 1</mat-grid-tile>
          <mat-grid-tile > Tile 2</mat-grid-tile>
          <mat-grid-tile> Tile 3</mat-grid-tile>
          <mat-grid-tile> Tile 4</mat-grid-tile>
        </mat-grid-list> -->
        <!-- <mat-grid-list cols="2" rowHeight="fix" style="height: 200px" gutterSize="10px">
            <mat-grid-tile > Tile 1</mat-grid-tile>
            <mat-grid-tile > Tile 2</mat-grid-tile>
            <mat-grid-tile> Tile 3</mat-grid-tile>
            <mat-grid-tile> Tile 4</mat-grid-tile>
          </mat-grid-list>
          -->
</div>

<div>
  <mat-accordion multi=true>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
            Study Strategy
          </mat-panel-title>
          <mat-panel-description>
            Total Duration: 3 Hours
          </mat-panel-description>
      </mat-expansion-panel-header>
            <p>This is Strategy</p>
            <mat-action-row>
              <button mat-button>Enroll</button>
            </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                Study Strategy
              </mat-panel-title>
              <mat-panel-description>
                Total Duration: 3 Hours
              </mat-panel-description>
          </mat-expansion-panel-header>
                <p>This is Strategy</p>
                <mat-action-row>
                  <button mat-button>Enroll</button>
                </mat-action-row>
          </mat-expansion-panel>
    </mat-accordion>
</div>

